.shopingCart {
  width: 90%;
  margin: 0px auto;
  font-size: 14px;
  &__list {
    margin-top: 30px;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-items: center;
    padding: 10px 10px;
    border: 1px solid #c4c7c8;
    border-radius: 10px;
    margin: 10px 0px;

    & > p {
      text-align: center;
    }
    & > img {
      height: 100px;
    }
    & > a:hover {
      color: #457045;
    }
  }
  &__btn {
    background-color: transparent;
    position: absolute;
    border: none;
    bottom: 0px;
    right: 15px;
    cursor: pointer;
    &:hover {
      background-color: #c61d1d84;
      border-radius: 10%;
      & > svg {
        fill: #fff;
      }
    }
    & > svg {
      width: 25px;
      height: 25px;
      fill: #9ea1a2;
    }
  }
  &__form {
    font-size: 18px;
    &>button{
      width: 150px;
      height: 50px;
      background-color: #457045;
      color: #fff;
      font-size: 22px;
      border: none;
      border-radius: 50px;
      margin-bottom: 40px;
      cursor: pointer;
    }
    & > p {
      font-size: 26px;
      margin-top: 15px;
      text-align: right;
    }
    & > div {
      display: flex;
      justify-content: space-between;
      & > input[type="radio"] {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px !important;
        overflow: hidden;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        &:checked + label::before {
          background-position: 0px 5px;
          background: url(../../image/check.png);
          background-size: cover;
          width: 25px;
          height: 30px;
          // border: none;
        }
      }
      & > label {
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px;
        

        &::before {
          content: "";
          display: block;
          height: 30px;
          width: 25px;
          margin-right: 5px;
          border: 2px solid #2b47d1;
        }
      }
    }
  }
}
