.advertisement {
  background-image: url(../../image/backgroundAD.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  &__productBox {
    margin-right: 30px;
  }
  &__textBox {
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  &__title {
    font-size: 27px;
    // margin-top: -40px;
    line-height: 20px;
  }
  &__tastName {
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__descryption {
    font-size: 18px;
  }
}
