.products {
  width: 98vw;
  margin: 0px auto;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__listBox {
    overflow: scroll;
    max-width: 510px;

    display: flex;

    // z-index: -1;
  }
  &__list {
    width: 100%;
    display: flex;
    gap: 29px;
  }
  &__item {
    width: 100%;
  }
  &__box {
    width: 100%;
  }
  &__img {
    border: 1px solid #c4c7c8;
    height: 135px;
    width: 150px;
    object-fit: contain;
  }
  &__textBox {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
  }

  &__button {
    height: 30px;
    fill: black;

    &:hover {
      transform: scale(1.5);
    }
  }
}
